{% extends 'base.html.twig' %}

{% block body %}
	<section class="edit-recipe-section">
		<div class="container">
			<h1 class="section-title">Edit Recipe</h1>

			<div class="card">
				{{ form_start(form) }}

				<div class="form-group">
					{{ form_label(form.title) }}
					{{ form_widget(form.title) }}
				</div>

				<div class="form-group">
					{{ form_label(form.slug) }}
					{{ form_widget(form.slug) }}
				</div>

				<div class="form-group">
					{{ form_label(form.content) }}
					{{ form_widget(form.content) }}
				</div>

				<div class="form-group">
					{{ form_label(form.duration) }}
					{{ form_widget(form.duration) }}
				</div>

				<div class="form-actions d-flex justify-content-end">
					<a href="{{ path('app_recipes_index') }}" class="btn btn-secondary">Cancel</a>
					<button type="submit" class="btn btn-success">Save Recipe</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}


{# {% extends 'base.html.twig' %}

{% block title %}
    Edit: {{ recipe.title }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ recipe.title }}</h1>
        <div class="d-flex justify-content-center">
            <div class="card p-4 my-3 w-50">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %} #}
